name: Build

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Release
  CCACHE_DIR: /tmp/ccache  # 设置ccache缓存目录

jobs:
  build:
    runs-on: ubuntu-24.04
    
    steps:
    - uses: actions/checkout@main
      with:
         submodules: false
         fetch-depth: 1
    
    # 添加ccache步骤
    - name: CCache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ runner.os }}-ndk-${{ env.BUILD_TYPE }}
        max-size: 1G  # 设置缓存大小，根据需要调整
    
    # 将ccache添加到PATH
    - name: Setup ccache in PATH
      run: |
        echo "/usr/lib/ccache" >> $GITHUB_PATH
        echo "CCACHE_DIR=/tmp/ccache" >> $GITHUB_ENV
        echo "CCACHE_MAXSIZE=2G" >> $GITHUB_ENV
    
    - name: Configure CMake and Build
      run: bash android_ci_build.bash
      env:
        CC: ccache clang
        CXX: ccache clang++
        CMAKE_C_COMPILER_LAUNCHER: ccache
        CMAKE_CXX_COMPILER_LAUNCHER: ccache
    
    - name: Upload build output
      uses: actions/upload-artifact@main
      with:
        name: MobileGL
        path: |
              **/lib*.so
